
<div class="container footer" 
fxLayout="row" 
fxLayout.sm="column" 
fxLayout.xs="column" 
fxLayoutAlign.xs="start center" 
fxLayoutAlign.sm="start center"
fxLayoutAlign.gt-sm="center center" 
fxLayoutWrap 
fxLayoutGap="10px">
    
    <div fxFlex="100%" fxFlex.gt-sm="50%">

    <div fxLayout="row">
    
        <div fxFlex="30" fxFlexOffset="15">
            <img src="/assets/images/Quo.png" width="100%" height="100%" alt="Logo">
        </div>
    
        <div fxFlex="30" fxFlexOffset="15">
         <h4>Our Address</h4>
          <h5>
           Quosphere Inc.<br> 1004, 10th floor, Rupa Solitaire, <br> 
            Millenium Business Park, <br> Navi Mumbai, <br> Maharashtra 400710,<br> India. <br>
            <i class="fa fa-phone"></i> &nbsp; :- &nbsp; 22-41031111<br>
          </h5>
        </div>
    
    </div>
    </div>
    
    
    <div fxFlex="100%" fxFlex.gt-sm="45%">

    <div fxLayout="row">

        <div fxFlex="30" fxFlexOffset="10">
            <h4>Created By</h4>
                <h5>
                Deepak Mahana,<br> Ghatkopar West, <br> 
                Mumbai - 400086, <br> India. <br>
                <i class="fa fa-phone"></i> &nbsp; :- &nbsp; 9892851277<br>
                </h5>
                <a mat-icon-button class="btn-google-plus" href="https://plus.google.com/103979008111931428370" target="_blank" ><i class="fa fa-google-plus-official fa-lg"></i></a>
                <a mat-icon-button class="btn-github" href="https://github.com/DeepakMahana"><i class="fa fa-github fa-lg" target="_blank" ></i></a>
                <a mat-icon-button class="btn-linkedin" href="https://www.linkedin.com/in/deepak-mahana-364882122/" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
            </div>
    
        <div fxFlex="30" fxFlexOffset="10">
        <img src="/assets/images/myself.jpg" width="100%" height="100%" alt="Logo">
        </div>
    </div>
    
    </div>
    
    <div fxFlex="50" fxFlexAlign="center center">
    <div style="text-align:center;">
      <h5><p>© Copyright 2017 QuosphereBot made with <i class="fa fa-heart"></i> by Deepak Mahana</p></h5>
    </div>

</div>
    
</div>





