
.message {
    border-radius: 50px;
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
    font-weight: bold;
}
.message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 100px;
    text-align: left;
    display: inline-block;
    float: right;

}
.message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 200px;
    display: inline-block;
    
}
.message.to + .message.to,
.message.from + .message.from {
margin-top: -10px;
}
.card {
    width: 500px;
    height: 500px;
    margin: 25px auto 25px auto;
    background-color: #FFFFFF;
}
.header-image {
    background-image: url('../../assets/images/Quosphere.png');
    background-size: cover;
  }
.card-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}
.textspace {
    width: 380px;
    padding: 20px;
}
.content {
    background-color: #fffccc;
}